html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif, 'open-sans', Helvetica, Arial;
  /* letter-spacing: 1px; */
}

.header {
  font-size: 4vw;
}
.header-mobile {
  font-size: 3vh;
}

#navmenu-mobile {
  position: absolute;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.8);
}

.navmenu-mobile-content {
  display: flex;
  align-items: center;
  margin-top: 45%;
  flex-direction: column;
  line-height: 300%;
  /* TODO: create a border box around the nav items */
  /* background-color: aqua; */
}
.navmenu-mobile-content span {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.navmenu-mobile-content span:hover {
  text-shadow: white 1px 0 10px;
}
.navmenu-mobile-content a {
  color: white;
  text-decoration: none;
}

.navbar-container {
  position: sticky;
  z-index: 1000;
  background-color: rgba(80, 80, 80, 0.5);
  top: 0;
  display: flex;
  align-items: center;
  padding: 15px 0 15px 0;
  justify-content: flex-end;
  border-radius: 5px;
  width: 100%;
  font-size: large;
}
.opaque-color {
  background-color: rgba(80, 80, 80, 0);
}

.navbar-container span {
  margin-right: 4vw;
  cursor: pointer;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}
#nav-info-left {
  margin-left: 4vw;
  margin-right: auto;
  cursor: auto;
  color: rgb(250, 220, 58);
}
.navbar-container span:hover {
  text-shadow: white 1px 0 10px;
}

#navbar-info-right-collapsed {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 27px;
  height: 4px;
  background-color: white;
  margin: 6px 2rem;
  transition: 0.4s;
}
.change .bar1 {
  transform: translate(0, 10px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}

/* TODO: the hovering effect is not optimal atm
.bar1:hover,
.bar2:hover,
.bar3:hover {
  box-shadow: white 1px 0 10px;
} */

.intermediary-page {
  height: 100vw;
  width: 100%;
  margin: 0;
  padding: 0;
}
.black-grey {
  background: linear-gradient(180deg, black 0%, rgba(100, 100, 100, 0.7) 100%);
}
.grey-blue {
  background: linear-gradient(180deg, rgba(100, 100, 100, 0.7) 0%, rgba(142, 142, 255, 0.3) 100%);
}
.blue-green {
  background: linear-gradient(180deg, rgba(142, 142, 255, 0.3) 0%, rgb(12, 48, 0) 100%);
}

.nav-seperator {
  border-left: 2px solid white;
  height: 35px;
}

.nav-info-external-links {
  margin-right: 2vw;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-icon {
  height: 28px;
  width: auto;
  border-radius: 5px;
}
.navbar-icon:hover {
  box-shadow: white 1px 0 10px;
}
.navbar-icon-irregular-size-container {
  display: flex;
  align-items: center;
}
.navbar-icon-irregular-size:hover {
  text-align: center;
  display: block;
  margin: auto;
  box-shadow: white 1px 0 10px;
}
