#about-container {
  background-color: rgba(100, 100, 100, 0.7);
  height: 100vh;
  width: 100vw;
  line-height: 1.7rem;
}

.about-subcontainer {
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  margin-right: 4vw;
}

.about-subcontainer h1 {
  margin-top: 5%;
}

.about-content {
  display: flex;
  margin-top: 3%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* background-color: grey; */
}
.about-left {
  width: 40%;
  font-size: 1.3vw;
  text-align: justify;
  /* background-color: red; */
}
.about-right {
  width: 50%;
  z-index: 2;
}

.intro-gif {
  width: 100%;
  height: auto;
}
