.mobile-container-wrapper {
  height: 100vh;
  margin-top: -10%; /* looks nicer in mobile view */
  flex-direction: column-reverse;
}
.mobile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1% 0 1% 0;
  line-height: 0.5rem;
}
.mobile-container-right h1 {
  font-size: 12vw;
  line-height: 2rem;
}
.mobile-container-left {
  flex-direction: column;
}
.mobile-container-left h1 {
  font-size: 6vw;
}

.intro-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 1rem;
}
.intro-container-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 1% 0 1% 4vw;
}
.intro-container-left h1:nth-child(1),
.mobile-container-left h1:nth-child(1) {
  animation: 10s fade1 linear infinite;
}
.intro-container-left h1:nth-child(2),
.mobile-container-left h1:nth-child(2) {
  animation: 10s fade2 linear infinite;
}
.intro-container-left h1:nth-child(3),
.mobile-container-left h1:nth-child(3) {
  animation: 10s fade3 linear infinite;
}

@keyframes fade1 {
  0%,
  60%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  70%,
  90% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0%,
  20%,
  60%,
  100% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }

  40% {
    opacity: 0;
  }
  70%,
  90% {
    opacity: 1;
  }
}
@keyframes fade3 {
  0%,
  40%,
  60%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
  70%,
  90% {
    opacity: 1;
  }
}

.intro-container-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  margin-right: 4vw;
}
.intro-container-right h1,
.mobile-container-right h1 {
  animation: 10s fade-right linear;
}
.intro-container-right h1 {
  font-size: 6vw;
}
@keyframes fade-right {
  0%,
  60% {
    opacity: 0;
  }
  70%,
  90%,
  100% {
    opacity: 1;
  }
}
