.projects-container {
  background-color: rgba(142, 142, 255, 0.3);
  height: 100vh;
  width: 100vw;
  position: relative;
}

.projects-subcontainer {
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  margin-right: 4vw;
}

.projects-subcontainer h1 {
  margin-top: 5%;
}

.projects-content {
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: space-between;

  /* background-color: grey; */
}

.projects-left {
  z-index: 4;
  width: 55%;
  height: 80%;
  font-size: 1.3vw;
  text-align: justify;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* background-color: grey; */
}

.slideShow {
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 100%;
  animation: 12s slideshow infinite ease-in-out;
}

.image-focus {
  height: 100%;
}
.image-hide {
  display: none;
}

@keyframes slideshow {
  0% {
    left: 100%;
  }
  4% {
    left: 0%;
  }
  33.33% {
    left: 0%;
  }
  37.33% {
    left: -120%;
  }
  100% {
    left: -120%;
  }
}

.projects-left > img:nth-child(1) {
  animation-delay: 0s;
}
.projects-left > img:nth-child(2) {
  animation-delay: 4s;
}
.projects-left > img:nth-child(3) {
  animation-delay: 8s;
}

.projects-right {
  width: 45%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* background-color: green; */
  overflow-y: hidden;
  overflow-x: hidden;
}

.projects-item-container {
  z-index: 2;
  width: 80%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  gap: 5%;
}

.projects-item-container-top {
  z-index: 4;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* background-color: black; */
  gap: 5%;
}

.projects-item {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  border: 1px solid;
  display: block;
  position: relative;
}
.projects-item-top {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  border: 1px solid;
  position: relative;
}

.projects-item-top-shrink {
  visibility: hidden;
  animation: 0.5s shrinkToZero 0.5s ease;
  animation-fill-mode: forwards;
}
.projects-item-top-expand-from-zero {
  animation: expandFromZero 0.5s ease;
  animation-fill-mode: forwards;
}

.projects-item-hidden {
  visibility: visible;
  animation: slideOutRight 1s ease;
  animation-fill-mode: forwards;
}

.projects-item-slide-in {
  visibility: visible;
  animation: slideInRight 1s;
}
.projects-item-invisible {
  visibility: hidden;
}

/* we need to add another div element on top so our other divs don't move up*/
.projects-item-expanded {
  animation: 0.5s expand 0.5s ease;
  animation-fill-mode: forwards;
}
.projects-item-shrink {
  height: 100%;
  animation: 0.5s shrink ease;
  animation-fill-mode: forwards;
}

#selection-mask {
  position: absolute;
  z-index: 3;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.selection-active {
  animation: dimBackground 1s linear;
  animation-fill-mode: forwards;
}
.selection-inactive {
  animation: lightBackground 1s linear;
  animation-fill-mode: forwards;
}

@keyframes expand {
  0% {
    height: 30%;
  }
  100% {
    height: 100%;
  }
}
@keyframes shrinkToZero {
  0% {
    height: 30%;
  }
  100% {
    height: 0%;
  }
}
@keyframes expandFromZero {
  0% {
    height: 0%;
  }
  100% {
    height: 30%;
  }
}
@keyframes shrink {
  0% {
    height: 100%;
  }
  100% {
    height: 30%;
  }
}

@keyframes slideOutRight {
  0% {
    margin-left: 0%;
  }
  30% {
    margin-left: -5%;
  }
  100% {
    margin-left: 200%;
  }
}

@keyframes slideInRight {
  0% {
    margin-left: 200%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes dimBackground {
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightBackground {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.projects-item-top:hover {
  background-color: rgb(80, 80, 80);
}

.projects-item:hover {
  background-color: rgb(80, 80, 80);
}

.projects-item-content {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.projects-item-content h5 {
  margin-top: 0;
}
