body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  /* letter-spacing: 1px; */
}

h1 {
  font-size: 4vw;
}

.navbar-container {
  position: sticky;
  z-index: 1000;
  background-color: rgba(80, 80, 80, 0.5);
  top: 0;
  display: flex;
  padding: 15px 15px 15px 0;
  justify-content: flex-end;
  border-radius: 5px;
  width: 100%;
}

.navbar-container span {
  margin-right: 4vw;
  cursor: pointer;
  font-size: large;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}
#nav-info-left {
  margin-left: 4vw;
  margin-right: auto;
  cursor: auto;
  color: rgb(250, 220, 58);
}
.navbar-container span:hover {
  text-shadow: white 1px 0 10px;
}

.intermediary-page {
  height: 150vh;
  width: 100vw;
}
.black-grey {
  background: linear-gradient(180deg, black 0%, rgba(100, 100, 100, 0.7) 100%);
}
.grey-blue {
  background: linear-gradient(180deg, rgba(100, 100, 100, 0.7) 0%, rgba(142, 142, 255, 0.3) 100%);
}
.blue-green {
  background: linear-gradient(180deg, rgba(142, 142, 255, 0.3) 0%, rgba(80, 145, 0, 0.3) 100%);
}
