#timeline-container {
  background-color: rgba(80, 145, 0, 0.3);
  height: 100vh;
  width: 100vw;
}
#timeline-container a {
  color: white;
  cursor: pointer;
  z-index: 3;
}
#timeline-container span {
  z-index: 3;
}

.timeline-subcontainer {
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  margin-right: 4vw;
}
