#timeline-container {
  background-color: rgba(80, 145, 0, 0.3);
  height: 100%;
  width: 100vw;
}
#timeline-container a {
  color: white;
  cursor: pointer;
  z-index: 3;
}
#timeline-container span {
  z-index: 3;
}

.timeline-subcontainer {
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
  margin-right: 4vw;
}
.timeline-spacer {
  margin-top: 30%;
}

.timeline-card-left,
.timeline-card-right {
  z-index: 3;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  overflow: hidden;
}
.timeline-card-right {
  margin-left: 60%;
}

.timeline-card-mobile {
  z-index: 3;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid;
  cursor: pointer;
  overflow: hidden;
}

.timeline-card-left:hover,
.timeline-card-right:hover {
  background-color: rgb(80, 80, 80);
}

.timeline-card-content {
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  overflow: hidden;
}
.timeline-card-content li {
  font-size: small;
}
